* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #1b7bd3, #4184d2, #598dd1, #6d96d0, #7f9fcf, #7e9ecd, #7d9ccb, #7c9bc9, #688fc6, #5283c2, #3877bf, #046bbb);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.seats {
    display: grid;
    width: 90%;
    height: 80%;
    background-color: rgb(49, 145, 200);
    grid-template-columns: repeat(6, 1fr);
}

.cell {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    /* background-color: crimson; */
    background: rgb(10,37,90);
    background: linear-gradient(0deg, rgba(10,37,90,1) 0%, rgba(0,172,255,1) 100%);
    border: 1px solid rgb(106, 152, 190);
}

.cell:hover {
  cursor: pointer;
  background-color: rgb(163, 12, 42);
}

.booked {
    border-radius: 5%;
    background-color: rgb(96, 146, 211);
    border: 1px solid rgb(22, 1, 1);
}